<div class="clearfix">
    <div class="pull-left"><h2><%= current_user.laundrette.name %></h2></div>
    <div class="btn-group pull-right">
        <%= link_to '<', bookings_on_url(:day=>(@start-1.day).day,:year=>(@start-1.day).year,:month=>(@start-1.day).month), {class: %w(btn btn-primary)} %>
        <div class="btn btn-primary"><%= I18n.localize @start.to_date, :format =>  '%A %d %B %Y'%></div>
        <%= link_to '>', bookings_on_url(:day=>(@start+1.day).day,:year=>(@start+1.day).year,:month=>(@start+1.day).month), {class: %w(btn btn-primary)} %>
     </div>
</div>

<div class="clearfix"></div>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
          <th style="width: 20px">H</th>
          <% current_user.machines.each do |machine|%>
            <th><%= machine.name %></th>
          <% end %>
        </tr>
    </thead>
    <tbody>
        <% (7..23).each do |h| %>
            <tr>
              <td><%= h %></td>
              <% current_user.machines.each do |machine| %>
                  <td>
                    <% if machine.bookings.where(:start => @start + h.hours).first.nil? %>
                        <% if can? :book, machine and (Time.now - 1.hours) <= ((@start + (h).hours))%>
                            <%= link_to 'Réserver', new_booking_url({machine: machine.id, start: @start+h.hours}) %>
                        <% end %>
                    <% else %>
                        <% booking = machine.bookings.where(:start => @start + h.hours).first %>
                        <%= booking.user.name %>
                        <% if booking.user == current_user and booking.start > (Time.now-1.hour) %>
                            <%= link_to('(Annuler)', booking, :method => :delete)  %>
                        <% end %>
                <%  end %>
                   </td>
            <% end %>
            </tr>
        <% end %>
    </tbody>
</table>
