<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Wash Insa" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Wash Insa" %>">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%# application layout styled for Bootstrap 2.3 %>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <div class="container">
        <% if user_signed_in? %>
            <div class="content">
              <div class="row">
                <div class="span12">
                  <%= render 'layouts/messages' %>
                  <%= yield %>
                </div>
              </div>
              <footer>
              </footer>
            </div>
         <% else %>
            <div class="content">
              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                  <%= yield %>
                </div>
                <div class="col-md-4"></div>
              </div>
              <footer>
              </footer>
            </div>
         <%end%>

      </div>
    </main>
  </body>
</html>
